<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @agreement_type.type %>
</p>

<%= link_to 'Edit', edit_agreement_type_path(@agreement_type) %> |
<%= link_to 'Back', agreement_types_path %>
