<p id="notice"><%= notice %></p>

<p>
  <strong>Leveltype:</strong>
  <%= @user_level.levelType %>
</p>

<%= link_to 'Edit', edit_user_level_path(@user_level) %> |
<%= link_to 'Back', user_levels_path %>
